.product-image{
  max-height:280px;
  min-height:280px;
  width:auto;
  margin:0 auto;
}

.navbar-brand a {
  color: #303442;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand a:hover{
    text-decoration: none;
    color:  #f47629;
}

.navbar-nav a {
  padding: 0 20px;
  color: #303442;
  font-size: 16px;
  font-weight:bold;
}

.navbar-nav a:hover{
    text-decoration: none;
    color:  #f47629;
}